html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  background-color: #222222;
  color: white; }

#CTA {
  background-color: black;
  color: white;
  font-size: 2em; }
  #CTA a {
    color: white;
    text-decoration: none; }
  #CTA #CTA-call {
    border: none;
    background-color: black; }
    #CTA #CTA-call a {
      color: dodgerblue; }
    #CTA #CTA-call ion-icon {
      color: white;
      font-size: 1em; }
  #CTA #CTA-socials {
    font-size: 2em; }

#scroll-anchor {
  position: relative;
  top: 0; }

#banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: black;
  min-height: 15vh; }
  #banner #banner-wrapper {
    align-items: center;
    min-height: 15vh; }
  #banner #banner--hydrospark img {
    width: 100%; }
  #banner #banner--hydrospark-logo img {
    width: 100%; }
  #banner #banner-button-div {
    display: block; }
    #banner #banner-button-div #banner--button {
      border: 3px solid white;
      height: 100px;
      width: 100%; }
    #banner #banner-button-div #banner--button:focus {
      border-color: yellow; }

#navbar-nav--1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100% !important;
  font-size: 1em; }

.sticky-top {
  top: -1px !important; }

.dropdown-menu {
  left: -50px; }

.dropdown-menu.show {
  position: absolute; }

#section03 a {
  padding-top: 60px; }

#section03 a span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box; }

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box; }

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box; }

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

.video-wrapper {
  padding: 0 !important !important;
  height: 100vh;
  overflow: hidden; }

video#bgvideo {
  position: relative;
  top: 0;
  left: 50%;
  min-width: 100%;
  width: auto;
  height: 100vh;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(0%);
  background: url("Bluewater_Lane-27.JPG") no-repeat;
  background-size: cover; }

.gallery {
  margin-top: 2em; }

.project-wrapper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center; }

.project-wrapper #wolf-lane {
  object-position: 10% 50%; }

.project-wrapper #flamingos {
  object-fit: fill; }

.project-wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  width: calc(100%-30px);
  opacity: 0;
  transition: .5s ease;
  background-color: #2d2c32; }

.project-wrapper .title {
  color: white;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center; }

.project-wrapper:hover .overlay {
  opacity: 90%;
  cursor: pointer; }

#gallery {
  width: 95%; }

.gallery-img img {
  width: 100%;
  height: auto; }

#matterport {
  background-color: green;
  position: relative;
  overflow: hidden;
  width: 95%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */ }

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

#home #carousel {
  position: relative;
  width: 100%;
  margin-bottom: 20vh; }
  #home #carousel .carousel-item {
    max-height: 40vh; }
  #home #carousel #carousel-1 {
    background-image: url("../img/bathroom1.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh; }
  #home #carousel #carousel-2 {
    background-image: url("/img/Bluewater_Lane-27.JPG");
    background-size: cover;
    background-position: center;
    height: 40vh; }
  #home #carousel #carousel-3 {
    background-image: url("/img/outsidebar.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh; }
  #home #carousel #carousel-4 {
    background-image: url("/img/Bluewater_Lane-39.JPG");
    background-size: cover;
    background-position: center;
    height: 40vh; }

#home #home--header {
  position: relative;
  top: 1vh;
  text-align: center;
  font-size: 3em; }

#profile-photo {
  background-color: #222222; }
  #profile-photo img {
    background-color: #222222;
    height: auto;
    width: 30vh;
    z-index: 2;
    position: absolute;
    bottom: -50%;
    left: 10%;
    border-radius: 50%;
    border: 5px solid #222222; }

#about {
  font-size: 1.5em;
  scroll-margin-top: 112px; }
  #about h1 {
    font-size: 2em; }
  #about a {
    color: dodgerblue; }

.service {
  scroll-margin-top: 112px;
  font-size: 1.2em; }
  .service ul {
    padding-left: 0; }
  .service li {
    list-style: none; }
  .service ion-icon {
    color: white;
    font-size: 1.5em; }

.service-text {
  text-align: center;
  position: relative;
  font-size: 2em; }

#plumbing {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/plumbing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#gas {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/gas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#hot-water {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/hotwater.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#bathrooms {
  display: block;
  position: relative;
  height: 25vh;
  background-image: url("/img/bathroom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#contact-section {
  scroll-margin-top: 112px; }
  #contact-section #socials {
    text-align: center;
    font-size: 5em;
    text-decoration: none; }
  #contact-section a {
    color: white; }
  #contact-section a:hover {
    color: dodgerblue;
    text-decoration: none; }
  #contact-section #contact-section--form {
    border: 2px solid black;
    font-size: 2em;
    color: black;
    font-weight: 600;
    background-color: lightgrey;
    width: 100%; }
    #contact-section #contact-section--form h1 {
      text-align: center; }
    #contact-section #contact-section--form input {
      border-width: 2px;
      max-width: 100%; }
    #contact-section #contact-section--form textarea {
      max-height: 100%;
      resize: none;
      overflow: hidden;
      border-width: 2px; }
    #contact-section #contact-section--form #form--message {
      text-align: left; }

footer #list-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer #list-wrapper li {
    margin-top: 0.5em; }
    footer #list-wrapper li a {
      color: white; }

@media (max-width: 992px) {
  #carousel {
    margin-bottom: 0px !important; } }

@media (min-width: 2550px) {
  video#bgvideo {
    min-height: 100%;
    height: auto; } }
